.comparison {}

.comparison .timeline {
  width: 920px;
  text-align: center;
}

.comparison .timeline hr {
  position: relative;
  top: 60px;
  height: 10px;
  background: #e6e6e6;
}

.comparison .timeline .box {
  position: relative;
  width: 125px;
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}

.comparison .timeline .box a {
  color: #0b6cb2;
  text-decoration: none;
}

.comparison .timeline .box a:hover {
  color: rgb(153, 0, 0);
}

.comparison .timeline .box span {
  font-size: 12px;
}

.comparison .timeline .box:last-child {
  margin-right: 0;
}

.comparison .timeline .icon {
  width: 36px;
  height: 36px;
  margin: 10px auto;
}

.comparison .timeline .icon:hover {
  background-position: 36px 0;
}

.comparison .timeline .icon.explore {
  background-image: url('../img/explore.png');
  z-index: 20;
}

.comparison .timeline .icon.compare {
  background-image: url('../img/compare.png');
  background-position: 36px 0;
}

.comparison .timeline .icon.choose {
  background-image: url('../img/choose.png');
}

.comparison .timeline .icon.apply {
  background-image: url('../img/apply.png');
}

.comparison .timeline .icon.succeed {
  background-image: url('../img/succeed.png');
}

.comparison .timeline .icon.employ {
  background-image: url('../img/employ.png');
}

.comparison h1 {
  font-size: 25px;
  margin-bottom: 1em;
}

.comparison h2 {
  padding: 0;
}

.comparison p {
  color: #444;
  font-size: 16px;
  padding: 0;
}

.comparison .heading {
  margin: 35px 0 25px 0;
  padding: 0;
  font-size: 16px;
  border-bottom: 2px solid #0082c1;
}

.comparison .heading h3 {
  margin: 0;
}

.comparison span.space {
  padding-right: 1em;
}

.comparison svg {
  margin-bottom: 30px;
}

/* Forms */

.comparison .form-group {
  margin-bottom: 25px;
}

.comparison .form-group.school-employer {}

.comparison .form-group #institution-search {
  width: 916px;
}

.comparison .form-group #institution-select {
  margin-top: 20px;
  width: 100%;
}

.comparison .form-group label {
  float: left;
  margin-right: 10px;
  font-size: 16px;
  color: #444;
}

.comparison .form-group input {
  float: left;
  font-size: 16px;
}

.comparison .form-group input[type="text"] {
  color: #444;
}

.comparison .form-group input[type="radio"] {
  margin-right: 15px;
  color: #444;
}

.comparison .form-group select {
  font-size: 16px;
  color: #444;
}

.comparison .form-group button {
  font-size: 16px;
  padding: 2px 10px;
  margin-right: 5px;
}

.comparison .clear {
  clear: both;
}

/* Tables */

.comparison table {
  font-size: 16px;
}

.comparison table tr {
  border: 1px solid #bfbfbf;
}

.comparison table th {
  font-family: sans-serif;
  color: #444;
  padding: 10px 25px;
}

.comparison table td {
  color: #444;
  padding: 0 25px;
}
