/*
Main header text and background colors:
  navy => #003F72
  orange => #C30
*/

/* Overriding template base styles */

h1, h2, h3 {
  color: #003F72;
}

sup {
  vertical-align: super;
  font-size: 60%;
}

#tier4innerContent img {
  padding: 0;
}

/* Comparison Tool base styles */

.comparison a {
  text-decoration: none;
  color: #0B6CB2;
}

.comparison a:hover {
  text-decoration: underline;
  color: #990000;
}

.comparison h1 {
  margin-bottom: 1em;
  font-size: 25px;
}

.comparison h2 {
  padding: 0;
  font-size: 22px;
}

.comparison p {
  padding: 0;
  font-size: 16px;
  color: #444;
}

.comparison img.info {
  margin-left: 10px;
}

.comparison span.space {
  padding-right: 1em;
}

.comparison .clear {
  clear: both;
}

/* Timeline */

.comparison .timeline {
  width: 920px;
  text-align: center;
}

.comparison .timeline hr {
  position: relative;
  top: 60px;
  height: 10px;
  background: #e6e6e6;
}

.comparison .timeline .box {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  width: 125px;
}

.comparison .timeline .box span {
  font-size: 12px;
}

.comparison .timeline .box:last-child {
  margin-right: 0;
}

.comparison .timeline .icon {
  margin: 10px auto;
  width: 36px;
  height: 36px;
}

.comparison .timeline .icon:hover {
  background-position: 36px 0;
}

.comparison .timeline .icon.explore {
  background-image: url('../img/explore.png');
}

.comparison .timeline .icon.compare {
  background-image: url('../img/compare.png');
  background-position: 36px 0;
}

.comparison .timeline .icon.choose {
  background-image: url('../img/choose.png');
}

.comparison .timeline .icon.apply {
  background-image: url('../img/apply.png');
}

.comparison .timeline .icon.succeed {
  background-image: url('../img/succeed.png');
}

.comparison .timeline .icon.employ {
  background-image: url('../img/employ.png');
}

/* Main Content */

.comparison .heading {
  margin: 35px 0 25px 0;
  padding: 0;
  font-size: 16px;
  border-bottom: 2px solid #003F72;
  border-radius: 5px;
}

.comparison .heading h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.comparison .heading.solid {
  padding: 0 10px;
  border: none;
}

.comparison .heading.solid h3 {
  padding: 0;
  color: #fff;
}

.comparison .heading.solid.orange {
  background: #C30;
}

.comparison .heading.solid.navy {
  background: #003F72;
  margin-top: 10px;
  font-style: italic;
}

.comparison .heading.solid.navy a {
  text-decoration: underline;
  color: #fff;
}

.comparison .heading.solid.navy.table {
  background: #003F72;
  margin-top: 10px;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.comparison .heading span.source {
  float: right;
}

.comparison .left-sidebar {
  font-style: italic;
  width: 150px;
  float: left;
  text-align: right;
  position: absolute;
}

.comparison .left-sidebar h2 {
  margin: 0;
}

.comparison .right-content {
  margin-left: 175px;
}

/* Forms */

.comparison .form-group {
  margin-right: 15px;
  margin-bottom: 15px;
  float: right;
}

.comparison .form-group label {
  margin-right: 10px;
  float: left;
  font-size: 16px;
  color: #444;
}

.comparison .form-group input {
  font-size: 16px;
}

.comparison .form-group input[type="text"] {
  color: #444;
}

.comparison .form-group input[type="radio"] {
  margin-right: 10px;
  float: left;
  color: #444;
}

.comparison .form-group select {
  position: relative;
  top: -4px;
  width: 275px;
  font-size: 16px;
  color: #444;
}

.comparison .form-group button {
  margin-right: 5px;
  padding: 2px 10px;
  font-size: 16px;
}

.comparison .form-group #institution-search {
  width: 600px;
}

/* Tables */

.comparison table {
  width: 100%;
  font-size: 18px;
  background: #003F72;
}

.comparison table.dark-background a {
  text-decoration: underline;
  color: #fff;
}

.comparison table.dark-background a:hover {
  text-decoration: underline;
  color: #fff;
}

.comparison table th {
  padding: 5px 25px;
  width: 50%;
  text-transform: none;
  font-family: sans-serif;
  color: #fff;
  background: none;
}

.comparison table th.normal {
  font-weight: normal;
}

.comparison table td {
  padding: 0 25px;
  color: #fff;
}

/* Benefit Estimator */

.comparison #benefit-estimator {}

.comparison #benefit-estimator table {
  background: #C30 url('../img/dollar_sign.png') 3.5% 50% no-repeat;
}

.comparison #benefit-estimator table th {
  padding-left: 100px;
}

.comparison #benefit-estimator th#institution { font-size: 30px; }
.comparison #benefit-estimator th#location {}
.comparison #benefit-estimator th#type {
  font-style: italic;
}

.comparison #benefit-estimator table.inactive {
  background: #808080 url('../img/dollar_sign.png') 3.5% 50% no-repeat;
}
.comparison #benefit-estimator table.inactive th#institution,
.comparison #benefit-estimator table.inactive th#location,
.comparison #benefit-estimator table.inactive th#type {
  display: none;
}

.comparison #benefit-estimator #voc-rehab {
  font-style: normal;
}

/* Veteran Indicators */

.comparison #veteran-indicators {}

.comparison #veteran-indicators table {
  background: #43798D url('../img/medal.jpg') 90% 50% no-repeat;
}

.comparison #veteran-indicators table th {
  padding-left: 100px;
}

.comparison #veteran-indicators img.yellow-ribbon {
  width: 20px;
  height: 20px;
}

/* School Indicators */

.comparison #school-indicators {
  margin: 20px 0;
}

.comparison #school-indicators table {
  background: none;
  border: 2px solid #003F72;
}
.comparison #school-indicators table thead {
  background: #003F72;
}

.comparison #school-indicators table td {
  padding: 0;
}

.comparison #school-indicators .box {
  margin-bottom: 25px;
  text-align: center;
}

.comparison #school-indicators .box > div {
  display: inline-block;
  vertical-align: middle;
  width: 325px;
}

.comparison #school-indicators .box .description {
  text-align: left;
}

/* About this School */

.comparison .about-this-tool {
  font-size: 16px;
  text-align: center;
}

.comparison .about-this-tool a {
  margin-right: 50px;
}

.comparison .about-this-tool a:last-child {
  margin-right: 0;
}

/* School/employer search (jQuery UI) */

.ui-autocomplete {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  background: #fff;
  border: 2px solid #003F72;
}

.ui-autocomplete .ui-menu .ui-menu-item {
  font-size: 14px;
}

.ui-menu-item a:hover {
  color: inherit;
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  margin: 0;
  background: #003F72;
  color: #fff;
}
