.comparison {}

.comparison h1 {
  font-size: 25px;
  margin-bottom: 1em;
}

.comparison p {
  color: #444;
  font-size: 16px;
}

.comparison .heading {
  margin: 1.5em 0;
  padding: 5px;
  font-size: 16px;
  background: #0082c1;
  color: #fff;
}

.comparison span.space {
  padding-right: 1em;
}

.comparison svg {
  margin-bottom: 30px;
}

/* Forms */

.comparison .form-group {
  margin-bottom: 25px;
}

.comparison .form-group.school-employer {}

.comparison .form-group #institution-search {
  width: 500px;
  margin-right: 10px;
}

.comparison .form-group #institution-select {
  margin-top: 20px;
  width: 100%;
}

.comparison .form-group label {
  float: left;
  margin-right: 10px;
  font-size: 16px;
  color: #444;
}

.comparison .form-group input {
  float: left;
  font-size: 16px;
}

.comparison .form-group input[type="text"] {
  color: #444;
}

.comparison .form-group input[type="radio"] {
  margin-right: 15px;
  color: #444;
}

.comparison .form-group select {
  font-size: 16px;
  color: #444;
}

.comparison .form-group button {
  font-size: 16px;
  padding: 2px 10px;
  margin-right: 5px;
}

.comparison .clear {
  clear: both;
}

/* Tables */

.comparison table {
  font-size: 16px;
}

.comparison table tr {
  border: 1px solid #bfbfbf;
}

.comparison table th {
  font-family: sans-serif;
  color: #444;
  padding: 10px 25px;
}

.comparison table td {
  color: #444;
  padding: 0 25px;
}
