@charset "UTF-8";
/* CSS Document */

.accordion, .accordion ul, .accordion li, .accordion a, .accordion span {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

.accordion li {
    list-style: none outside none;
	margin-bottom:-6px;
}

.accordion li > a {
	background: transparent;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    height: auto;
	padding: 4px 10px 4px 30px; 
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.accordion li.active > a {
    color: white;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.accordion li > a span {
	float: left; 
    margin-left: -22px;
	margin-right: -6px; 
	margin-top: 6px; 
    padding: 0 10px;
    position: static; 
}

.sub-menu li a {
	filter: none; 
	background: none repeat scroll 0 0 #efefef;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #797979;
	padding-left: 36px; 
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.sub-menu li,.sub-menu li.active {
	border-bottom: 1px solid #C9C9C9;
}

.sub-menu li.active > a {
    border-bottom: 1px solid #C9C9C9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #797979;
}
.sub-menu li.lastChild {
	border-bottom: 0px; 
}
.sub-sub-menu li.firstChild {
	border-top: 1px solid #c9c9c9; 
}


.sub-menu li > a span {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #797979;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.sub-menu em {
    color: #A6A6A6;
    font: 10px/32px Arial, Helvetica, sans-serif;
    left: 0;
    margin-left: 14px;
    position: absolute;
    top: 0;
}
.accordion li > .sub-menu {
    display: none;
}
.accordion li:target > .sub-menu {
    display: block;
}

.sub-menu li > .sub-sub-menu {
    display:none;
}

.sub-menu li:target > .sub-sub-menu {
    display: block;
}

.arrow{
	padding-top:5px;
}
.sub-sub-menu li > a span {
	margin-left: -22px;
}

.sub-sub-menu li.active > a,.sub-sub-menu li.active:first-child  > a {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
    background: none repeat scroll 0 0 #fdfdfd;
    color: #797979;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
}
.sub-sub-menu li a {
    background: none repeat scroll 0 0 #fdfdfd;
    border-bottom: 1px solid #C9C9C9;
    color: #797979;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 56px; 
}

ul.sub-sub-menu ul.sub-sub-menu{
	margin-top: -10px; 
    padding-left: 106px;
	padding-top: 4px; 
	border: 0px; 
}
.sub-sub-menu li > ul.sub-sub-menu > li.firstChild {
	border-bottom: 0; 
	border-top: 0; 
}

.panes div {

    border-left:#E6E6E6;
	border-bottom:#E6E6E6;
	border-color: -moz-use-text-color #E6E6E6 #E6E6E6;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    font-size: 14px;
    min-height: 300px;
    padding: 15px 10px;
}

#footer-email #email_footer {
    color: #000000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 21px;
    margin-right: 1px;
    margin-top: 3px;
    padding-left: 0.2em;
	padding-top:0px;
    vertical-align: middle;
    width: 90px;
}

.styled-select select {
   background: transparent;
   width: 214px;
   padding: 6px;
   color: #848484;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 1em;
   line-height:1.9em;
   font-weight: 400;  
   border: 1px solid #ccc;
   height: 34px;
}

#mainSearchForm #searchtxt {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 22px;
    margin-right: 5px;
    margin-top: 1px;
    padding-left: 0.2em;
    vertical-align: top;
    width: 254px;
}

#widget-email #email {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 22px;
    margin-right: 1px;
    margin-top: 4px;
    padding-left: 0.2em;
    vertical-align: top;
    width: 90px;
}