@charset "UTF-8";
/* CSS Document */

#leftNav ul {
	padding: 0; 
}
.accordion, .accordion ul, .accordion li, .accordion a, .accordion span {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

.accordion li {
    list-style: none outside none;
}

.accordion li > a {
    background: -moz-linear-gradient(center top , #6C6E74 0%, #4B4D51 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #FDFDFD;
    display: table-cell;
	vertical-align: middle; 
    font: 12px/22px Arial,sans-serif;
	height: 24px; 
    width: 190px; 
	padding: 4px 10px 4px 30px; 
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);


background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  rgba(108,110,116,1) 0%, rgba(75,77,81,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,110,116,1)), color-stop(100%,rgba(75,77,81,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6e74', endColorstr='#4b4d51',GradientType=0 ); /* IE6-8 */

}

.accordion > li.active > a {
    background: -moz-linear-gradient(center top , #0B5A92 0%, #003F72 100%) repeat scroll 0 0 transparent;
    color: white;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  rgba(11,90,146,1) 0%, rgba(0,63,114,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,90,146,1)), color-stop(100%,rgba(0,63,114,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b5a92', endColorstr='#003f72',GradientType=0 ); /* IE6-8 */

}
.accordion span {
    display: block;
    left: 0;
	float: left; 
    margin-left: -22px;
	margin-right: -6px; 
	margin-top: 6px; 
    padding: 0 10px;
    position: static; 
    z-index: 10000;
}

.sub-menu li.active > a,.sub-menu li.active:first-child  > a {
    background: #dbf0ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #dbf0ff 0%, #cbebff 50%, #bce6ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbf0ff), color-stop(50%,#cbebff), color-stop(100%,#bce6ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf0ff', endColorstr='#bce6ff',GradientType=0 ); /* IE6-9 */
    color: #797979;
}
.sub-menu li a {
    background: none repeat scroll 0 0 #efefef;
    border-bottom: 1px solid #C9C9C9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #797979;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 36px; 
	width: 200px; 
}
.sub-menu li:last-child a {
    border: 0 none;
}
.sub-menu li > a span {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #797979;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	margin-left: -22px; 
}
.accordion li > .sub-menu {
    display: none;
}
.accordion li:target > .sub-menu {
    display: block;
}

.sub-sub-menu li.active > a,.sub-sub-menu li.active:first-child  > a {
    background: none repeat scroll 0 0 #fdfdfd;
    color: #797979;
}
.sub-sub-menu li a {
    background: none repeat scroll 0 0 #fdfdfd;
    border-top: 1px solid #C9C9C9;
    border-bottom: 0px solid #C9C9C9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #797979;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 56px; 
}
.sub-sub-menu li:first-child a {
    border-top: 0px solid #C9C9C9;
}
.sub-sub-menu li:last-child > a {
    border-top: 1px solid #C9C9C9;
}
.sub-sub-menu li:last-child {
    border-bottom: 1px solid #C9C9C9;
}
.sub-sub-menu li > a span {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #797979;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	margin-left: -22px; 
}
.sub-sub-menu em {
    color: #A6A6A6;
    font: 10px/32px Arial,sans-serif;
    left: 0;
    margin-left: 14px;
    position: absolute;
    top: 0;
}
.sub-menu li > .sub-sub-menu {
    display: none;
}
.sub-menu li:target > .sub-sub-menu {
    display: block;
}
.sub-sub-menu li:target > .sub-sub-menu {
    display: block;
}
.sub-sub-menu li ul.sub-sub-menu > li a {
	height: 18px; 
    padding-left: 76px;
	padding-top: 4px; 
	border: 0px; 
	line-height: 14px; 
}
.sub-sub-menu li ul.sub-sub-menu {
	margin-top: -4px; 
}
.sub-sub-menu li ul.sub-sub-menu > li {
	border-bottom: 0; 
}
.sub-sub-menu li.head a {
	border-bottom: 0px; 
}